<a href="https://colab.research.google.com/github/welbertisaak/analise-dados-1/blob/master/Copy_of_exerc%C3%ADcios_anatel_mg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![anatel](img/anatel_logo.png "Logo Anatel")

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [1]:
import numpy as np
import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [2]:
df = pd.read_csv('anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [3]:
df.shape

(509706, 12)

4. Mostre as 5 primeiras linhas do *dataset*.

In [4]:
df.head()

  DataExtracao   Ano  Mes  ...               Motivo  UF QtdeSolic
0   2016-04-28  2006    1  ...        Interferência  MG         3
1   2016-04-28  2006    1  ...              Outorga  MG         8
2   2016-04-28  2006    1  ...             Cobrança  MG         1
3   2016-04-28  2006    1  ...  Serviços Adicionais  MG         1
4   2016-04-28  2006    1  ...             Clonagem  MG         1

[5 rows x 12 columns]

5.  Quais são os tipos de dados de cada uma das colunas?

In [5]:
df.dtypes

DataExtracao     object
Ano               int64
Mes               int64
CanalEntrada     object
Condicao         object
GrupoEconNorm    object
Tipo             object
Servico          object
Modalidade       object
Motivo           object
UF               object
QtdeSolic         int64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [6]:
df.dtypes.value_counts()

object    9
int64     3
dtype: int64

7. Mostre as informações básicas do DataFrame.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509706 entries, 0 to 509705
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DataExtracao   509706 non-null  object
 1   Ano            509706 non-null  int64
 2   Mes            509706 non-null  int64
 3   CanalEntrada   509706 non-null  object
 4   Condicao       509706 non-null  object
 5   GrupoEconNorm  509404 non-null  object
 6   Tipo           509706 non-null  object
 7   Servico        509706 non-null  object
 8   Modalidade     509706 non-null  object
 9   Motivo         509706 non-null  object
 10  UF             509706 non-null  object
 11  QtdeSolic      509706 non-null  int64
dtypes: int64(3), object(9)
memory usage: 46.7+ MB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [8]:
df.isnull().values.any()

True

9. Qual é o número total de dados ausentes?

In [9]:
df.isnull().sum().sum()

302

10. Qual é o número total de dados ausentes por coluna?

In [10]:
df.isnull().sum()

DataExtracao       0
Ano                0
Mes                0
CanalEntrada       0
Condicao           0
GrupoEconNorm    302
Tipo               0
Servico            0
Modalidade         0
Motivo             0
UF                 0
QtdeSolic          0
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [11]:
df = df.dropna()

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [12]:
df.sort_values(by='QtdeSolic', ascending=False).head(1)

       DataExtracao   Ano  Mes CanalEntrada  ... Modalidade  Motivo  UF QtdeSolic
139270   2016-04-19  2013   12  Call Center  ...      Local  Reparo  MG      4164

[1 rows x 12 columns]

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [13]:
df.QtdeSolic.min()

1

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [14]:
df.loc[df['QtdeSolic'] == 1.0]

       DataExtracao   Ano  ...  UF QtdeSolic
2        2016-04-28  2006  ...  MG         1
3        2016-04-28  2006  ...  MG         1
4        2016-04-28  2006  ...  MG         1
5        2016-04-28  2006  ...  MG         1
6        2016-04-28  2006  ...  MG         1
...             ...   ...  ...  ..       ...
509701   2019-10-08  2019  ...  MG         1
509702   2019-10-08  2019  ...  MG         1
509703   2019-10-08  2019  ...  MG         1
509704   2019-10-08  2019  ...  MG         1
509705   2019-10-08  2019  ...  MG         1

[231120 rows x 12 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [15]:
pd.crosstab(df['Servico'], ['QtdeSolic'])

col_0                                               QtdeSolic
Servico
Banda Larga Fixa                                        60421
Celular Pré-Pago                                        56911
Celular Pós-Pago                                        96355
Limitado Privado                                          646
Móvel Pessoal                                           68399
Outros                                                    969
Radioamador (PY)                                         1350
Radiochamada (Paging)                                      24
Radiodifusão (Rádio e TV)                                3476
Rádio do Cidadão (PX)                                    1240
Serviço Móvel Aeronáutico                                 105
Serviço Móvel Marítimo                                     20
Serviço Telefônico Fixo Comutado - STFC                 41299
Serviço de Comunicação Multimídia                       23210
Serviço de Rede e Transporte de Telecomunicaçõe...        531
Serviços da Anatel                                      10017
TV por Assinatura                                       80646
Telefone Fixo                                           63199
Troncalizado (Trunking)                                   586

16. Ao longo dos anos mostre o número de solicitações por mês?

In [16]:
df[["Ano" , "QtdeSolic", "Mes"]].groupby(["QtdeSolic", "Mes"]).mean()

                       Ano
QtdeSolic Mes
1         1    2015.050022
          2    2015.001075
          3    2014.883003
          4    2014.973543
          5    2014.907216
...                    ...
2954      1    2014.000000
3000      7    2013.000000
3058      2    2014.000000
3238      11   2013.000000
4164      12   2013.000000

[4126 rows x 1 columns]

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [17]:
reclamacoes = df[df.Tipo == "Reclamação"]
reclamacoes

       DataExtracao   Ano  ...  UF QtdeSolic
2        2016-04-28  2006  ...  MG         1
3        2016-04-28  2006  ...  MG         1
4        2016-04-28  2006  ...  MG         1
5        2016-04-28  2006  ...  MG         1
6        2016-04-28  2006  ...  MG         1
...             ...   ...  ...  ..       ...
509701   2019-10-08  2019  ...  MG         1
509702   2019-10-08  2019  ...  MG         1
509703   2019-10-08  2019  ...  MG         1
509704   2019-10-08  2019  ...  MG         1
509705   2019-10-08  2019  ...  MG         1

[477862 rows x 12 columns]

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [18]:
pd.crosstab(reclamacoes['Servico'], ['QtdeSolic'])

col_0                                               QtdeSolic
Servico
Banda Larga Fixa                                        60420
Celular Pré-Pago                                        56911
Celular Pós-Pago                                        96353
Limitado Privado                                           67
Móvel Pessoal                                           60642
Outros                                                    440
Radioamador (PY)                                          145
Radiochamada (Paging)                                       1
Radiodifusão (Rádio e TV)                                 175
Rádio do Cidadão (PX)                                     111
Serviço Móvel Aeronáutico                                   9
Serviço Móvel Marítimo                                      3
Serviço Telefônico Fixo Comutado - STFC                 37245
Serviço de Comunicação Multimídia                       18546
Serviço de Rede e Transporte de Telecomunicaçõe...        458
Serviços da Anatel                                       3687
TV por Assinatura                                       78916
Telefone Fixo                                           63199
Troncalizado (Trunking)                                   534

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [19]:
reclamacoes.Motivo.max()

'Área de Cobertura'

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.

In [20]:
pd.crosstab(df['GrupoEconNorm'], ['QtdeSolic'])

col_0              QtdeSolic
GrupoEconNorm
ALGAR                  31030
Anatel                 22833
BLUE                    3105
Brisanet                   5
CABO TELECOM               1
CLARO                  56270
Correios Celular         258
Datora                     2
EMBRATEL                1425
GVT                     6398
HUGHES NET               399
Intelig                  228
NET                    51631
NEXTEL                  3198
NOSSA TV - BRASIL         12
OI                    133068
Outros                 23898
SERCOMTEL                 60
SKY                    24332
TIM                    66568
VIVO                   84683